body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.logo-img {
  max-height: 32px;
}

.title-btn {
  margin: 0 0 0 auto;
  /*padding: 0px;*/
}

.app-container {
  margin-left: 15px;
  margin-right: 15px;

}

.page-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0!important;
}

/*.thumbnail {*/
  /*position: relative;*/
  /*width: 100px;*/
  /*height: 100px;*/
  /*overflow: hidden;*/
/*}*/
/*.thumbnail img {*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*height: 100%;*/
  /*width: auto;*/
  /*-webkit-transform: translate(-50%,-50%);*/
  /*-ms-transform: translate(-50%,-50%);*/
  /*transform: translate(-50%,-50%);*/
/*}*/
/*.thumbnail img.portrait {*/
  /*width: 100%;*/
  /*height: auto;*/
/*}*/

.thumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: flex-start;*/
  /*align-content: flex-start;*/
}

.thumbnail img{
  margin:5px;
  width: 150px;
  height: 150px;
}

.selected {
  border: 3px solid #00c853;
}

.choosen {
  /*border: 3px solid #00c853;*/
  text-shadow: 2px 2px 8px #FF0000;
}

/*.selected::before{*/
  /*width: 15px;*/
  /*height:15px;*/
  /*background: #00c853;*/
  /*content: '';*/
  /*display: block;*/
/*}*/