body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h2{
  font-weight: bold;
}

.logo-img {
  max-height: 32px;
}

.title-btn {
  margin: 0 0 0 auto;
  /*padding: 0px;*/
}

.app-container {
  margin-left: 15px;
  margin-right: 15px;

}

.page-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0!important;
}

/*.thumbnail {*/
  /*position: relative;*/
  /*width: 100px;*/
  /*height: 100px;*/
  /*overflow: hidden;*/
/*}*/
/*.thumbnail img {*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*height: 100%;*/
  /*width: auto;*/
  /*-webkit-transform: translate(-50%,-50%);*/
  /*-ms-transform: translate(-50%,-50%);*/
  /*transform: translate(-50%,-50%);*/
/*}*/
/*.thumbnail img.portrait {*/
  /*width: 100%;*/
  /*height: auto;*/
/*}*/

.thumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: flex-start;
  align-content: flex-start;
}
.card .card-image img{
  height: 200px;
  width: auto;
}

.card .card-action{
  padding: 5px;
}

/*.thumbnail img{*/
  /*margin:5px;*/
  /*width: 150px;*/
  /*height: 150px;*/
  /*/!*border: 1px solid black;*!/*/
/*}*/

.selected {
  border: 3px solid #00c853;
}

.chosen {
  /*border: 3px solid #00c853;*/
  text-shadow: 2px 2px 8px #FF0000;
}
.image-container {
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 259px;
}

.service-icon {
  display: inline-block;

  padding-top: 1px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 3px center;

  margin: 5px;
  width:32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;

  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.service-icon:hover, .service-icon:focus {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.service-icon.inactive {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .2s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .2s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .2s ease-in-out;
  filter: grayscale(100%);
}
.service-icon.inactive:hover, .service-icon.inactive:focus, .service-icon.inactive:active {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .2s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .2s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .2s ease-in-out;
  filter: grayscale(0%);
}


.social-button {
  padding-left: 48px;
  padding-top: 1px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 15px center;
}

.social-button:hover{
  opacity: 0.9;
}

.imgur, .imgur:hover, .imgur:focus {
  background-image: url('services/imgur.png');
  background-color: #171717;
}

.pinterest, .pinterest:hover, .pinterest:focus {
  background-image:  url('services/pinterest.png');
  background-color: #bd081c;
}

.twitter, .twitter:hover, .twitter:focus {
  background-image: url('services/twitter.png');
  background-color: #55acee;
}

.tumblr, .tumblr:hover, .tumblr:focus {
  background-image: url('services/tumblr.png');
  background-color: #35465c;
}

.facebook, .facebook:hover, .facebook:focus {
  background-image: url('services/facebook.png');
  background-color: #3b5998;
}

.google, .google:hover, .google:focus {
  background-image: url('services/google.png');
  background-color: #bebebe;
}


/*button{*/
  /*padding: 5px 6px 5px 30px;*/
  /*background: url('services/imgur.png') no-repeat 5px center;*/
  /*background-size: 20px;*/
/*}*/