
.page-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0!important;
}

.thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
