body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #eceff1;
}

h2{
  font-weight: bold;
}

.logo-img {
  max-height: 32px;
}

.title-btn {
  margin: 0 0 0 auto;
  /*padding: 0px;*/
}

.app-container {
  margin-left: 15px;
  margin-right: 15px;

}

.page-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0!important;
}

/*.thumbnail {*/
  /*position: relative;*/
  /*width: 100px;*/
  /*height: 100px;*/
  /*overflow: hidden;*/
/*}*/
/*.thumbnail img {*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*height: 100%;*/
  /*width: auto;*/
  /*-webkit-transform: translate(-50%,-50%);*/
  /*-ms-transform: translate(-50%,-50%);*/
  /*transform: translate(-50%,-50%);*/
/*}*/
/*.thumbnail img.portrait {*/
  /*width: 100%;*/
  /*height: auto;*/
/*}*/

.thumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: flex-start;
  align-content: flex-start;
}
.card .card-image img{
  height: 200px;
  width: auto;
}

.card .card-action{
  padding: 5px;
}

/*.thumbnail img{*/
  /*margin:5px;*/
  /*width: 150px;*/
  /*height: 150px;*/
  /*/!*border: 1px solid black;*!/*/
/*}*/

.selected {
  border: 3px solid #00c853;
}

.chosen {
  /*border: 3px solid #00c853;*/
  text-shadow: 2px 2px 8px #FF0000;
}
.image-container {
  text-align: center;
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 259px;
}

.service-icon {
  display: inline-block;

  padding-top: 1px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 3px center;

  margin: 5px;
  width:32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;

  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.service-icon:hover, .service-icon:focus {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.service-icon.inactive {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .2s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .2s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .2s ease-in-out;
  filter: grayscale(100%);
}
.service-icon.inactive:hover, .service-icon.inactive:focus, .service-icon.inactive:active {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .2s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .2s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .2s ease-in-out;
  filter: grayscale(0%);
}


.social-button {
  padding-left: 48px;
  padding-top: 1px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 15px center;
}

.social-button:hover{
  opacity: 0.9;
}

.imgur, .imgur:hover, .imgur:focus {
  background-image: url('services/imgur.png');
  background-color: #171717;
}

.pinterest, .pinterest:hover, .pinterest:focus {
  background-image:  url('services/pinterest.png');
  background-color: #bd081c;
}

.twitter, .twitter:hover, .twitter:focus {
  background-image: url('services/twitter.png');
  background-color: #55acee;
}

.tumblr, .tumblr:hover, .tumblr:focus {
  background-image: url('services/tumblr.png');
  background-color: #35465c;
}

.facebook, .facebook:hover, .facebook:focus {
  background-image: url('services/facebook.png');
  background-color: #3b5998;
}

.google, .google:hover, .google:focus {
  background-image: url('services/google.png');
  background-color: #bebebe;
}
.spinner-layer.spinner-orange-only{
  border-color: #ff9800;
}

/*CHANGING INPUT FIELD COLORS*/
 /* label color */
   .input-field label {
     /*color: #000;*/
   }
   /* label focus color */
   .input-field input[type]:focus + label {
     color: #ff9800;
   }
   /* label underline focus color */
   .input-field input[type]:focus {
     border-bottom: 1px solid #ff9800;
     box-shadow: 0 1px 0 0 #ff9800;
   }
   /* valid color */
   .input-field input[type].valid {
     border-bottom: 1px solid #4caf50;
     box-shadow: 0 1px 0 0 #4caf50;
   }
   /* invalid color */
   .input-field input[type].invalid {
     border-bottom: 1px solid #e53935;
     box-shadow: 0 1px 0 0 #e53935;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     /*color: #ff9800;*/
     color: black;
   }

   footer.page-footer{
     margin-top: 0px;
   }

   .btn, .btn-large {
    height: 3rem;
    line-height: 3rem;
   }

   .file-field .btn, .file-field .btn-large{
     float: none;
   }

   /*.fixed-action-btn {*/
     /*right: 0;*/
     /*bottom: 0;*/
   /*}*/

.camera-popup{
  border-radius: 2px;
  width: 400px;
  margin-left: -200px;
}

.camera-popup .photo-preview {
  margin-top: 12px;
  width: 280px;
  margin-bottom: 18px;
  /*height: 240px;*/
}

.camera-popup button {
  background-color: #ff9800;
    height: 3rem;
    line-height: 3rem;
    border: none;
    border-radius: 2px;
    display: inline-block;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.camera-popup button:active {
    background-color: #E68300;
    border: none;
}

button.button.cancel, button.button.new-photo {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    color: #343434;
    cursor: pointer;
}